* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  overflow: scroll;
  line-height: 1.5;
  word-break: break-all;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:focus {
  outline: 0;
}

.btn {
  font-size: 14px;
}

.btn--ntg {
  background-color: #fff;
  color: #1B1464;
  border: 0;
  border-radius: 0;
}

.btn:focus,
.form-control:focus,
.form-control:active {
  outline: none;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled):focus {
  outline: 0;
  border: 0;
}

.btn-red {
  color: #fff;
  background-color: #ED4C67;
}

.btn-red:hover, .btn-red:focus {
  background-color: #ED4C67;
  border: 1px solid #ED4C67;
}

.text-red {
  color: #ED4C67;
}

.text-red:hover {
  color: #ED4C67;
}

.head-space {
  letter-spacing: 0.1em;
}

.fs-16 {
  font-size: 16px;
}

.red__text {
  color: #ED4C67;
}

a:hover {
  text-decoration: none;
}

.blue__btn {
  color: #fff;
  background-color: #1B1464;
}

.cursor-pointer {
  cursor: pointer;
}

.muted-p {
  opacity: 0.5;
}

.logininfo {
  color: #1B1464;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.logininfo .login__box {
  width: 300px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  margin-bottom: 25px;
}

.logininfo .login__box .login__head {
  background-color: #1B1464;
  padding: 20px 0;
  text-align: center;
}

.logininfo .login__box h6 {
  margin: 15px 0 0 0;
}

.logininfo .login__box .login__content {
  padding: 20px;
}

.logininfo .login__box .login__content .form-control::-webkit-input-placeholder {
  color: #1B1464;
  font-size: 14px;
}

.logininfo .login__box .login__content .form-control:-ms-input-placeholder {
  color: #1B1464;
  font-size: 14px;
}

.logininfo .login__box .login__content .form-control::-ms-input-placeholder {
  color: #1B1464;
  font-size: 14px;
}

.logininfo .login__box .login__content .form-control::placeholder {
  color: #1B1464;
  font-size: 14px;
}

.logininfo .login__box .login__content .blue__btn {
  padding: 6px 24px;
}

.logininfo .last-p {
  opacity: 0.2;
}

.custom__modal .modal-header {
  background-color: #1B1464;
  color: #fff;
}

.custom__modal .cancel__btn {
  background-color: #bcbccc;
  color: #fff;
}

.custom__modal .close {
  color: #fff;
}

.custom__modal .close:hover {
  color: #fff;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.assign__channel .channel__list {
  padding: 30px;
}

.channel__list {
  padding: 20px 10px;
}

.channel__list ul {
  height: 400px;
  overflow: auto;
}

.pm-30 {
  padding: 30px;
}

.channelsinfo {
  color: #1B1464;
  padding: 30px;
}

.channelsinfo .main__head {
  margin-bottom: 30px;
}

.channelsinfo .blueborder-btn {
  color: #1B1464;
  margin-left: 15px;
  padding: 4px 22px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #1B1464;
}

.channelsinfo .blueborder-btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #1B1464;
}

.channelsinfo .small__img {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.channelsinfo .small__img img {
  width: 100%;
  height: auto;
}

.channelsinfo .right {
  margin-left: 65px;
  margin-top: 14px;
}

.channelsinfo .table tr th {
  border-bottom: 1px solid #dee2e6;
  border-top: 0;
}

.channelsinfo .table tr td {
  vertical-align: middle;
  border-top: 0;
}

.custom-select {
  border: 1px solid #1B1464;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
}

.custom-select:focus {
  outline: 0;
  border-color: #1B1464;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.left-part {
  background-color: #1B1464;
  height: 100vh;
  padding: 30px 15px;
}

.left-part p {
  color: #fff;
  text-transform: uppercase;
}

.left-part ul li a {
  color: #fff;
  padding: 8px 0;
  display: block;
  font-size: 14px;
}

.left-part ul li a:hover, .left-part ul li a.active {
  font-weight: bold;
  font-size: 16px;
}

.upload-input {
  position: relative;
  border: 1px dashed #1B1464;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  color: #1B1464;
}

.upload-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.mian-container {
  width: 100%;
}

.mian-container .left-menu {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.mian-container .right-menu {
  width: 80%;
  display: inline-block;
  vertical-align: top;
}

.help-block {
  color: #ff7979;
  margin-top: 2px;
  font-size: 12px;
}

.btn-logout {
  background: transparent;
  color: #fff;
  padding-left: 0;
}

.btn-logout:hover {
  font-size: 16px;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */